@model WorkFinder.Web.Models.ViewModels.HomeViewModel

<!DOCTYPE html>
<html>
<head>
@{ ViewData["Title"] = "Home"; }
</head>
<body>
    @await Html.PartialAsync("Components/Home/Hero/Default")
</body>
</html>