@model WorkFinder.Web.Models.ViewModels.HomeViewModel

<!DOCTYPE html>
<html>
<head>
@{ ViewData["Title"] = "Home"; }
</head>
<body>
    @await Component.InvokeAsync("Hero")
    @await Component.InvokeAsync("Category")
    @await Component.InvokeAsync("Step")
    @await Component.InvokeAsync("ListCard")
    <hr/>
    @await Component.InvokeAsync("FeaturedJob")
    @await Component.InvokeAsync("TopCompany")
</body>
</html>