footer{
    background-color: var(--bs-gray-300);
}
.footer-top {
    padding: 4.8rem 0;
}

ul li {
    list-style: none;
    font-size: 1.4rem;
   line-height: 2.4rem;
    color: var(--bs-gray-600);
}
ul {
    padding: 0;
}
.footer-bottom {
    padding: 2.4rem 0;
    font-size: 1.4rem;
}

.footer-social a {
    color: var(--bs-gray-600);
}