.navbar {
    background-color: var(--gray-100);
    line-height: 1;
}
.nav-link {
    color: var(--gray-400);
}
.nav-link:hover,
.nav-link.active {
    color: #0A65CC;
    font-weight: 500;
}
#navbarNav {
    justify-content: space-between;
}

.phone {
    color: var(--gray-600);
    text-decoration: none;
    
}
header {
    padding: 1rem 0;
}
.btn {
    padding: 1.2rem 2.4rem;
    line-height: 2.4rem;
    text-transform: none;
}
.header-login {
    gap: 1.2rem;
}
.user-profile {
    cursor: pointer;
}

.avatar-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #f0f0f0;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown-menu {
    min-width: 200px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.header-logo{
    width: 200px;
    height: 100px;
}
.header-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}