.hero {
    background-color: var(--gray-100);
    padding: 4.8rem 0;
}
/*.hero .btn  {*/
/*    min-width: 13rem;*/
/*}*/
.input-group-cs {
    display: flex;
    align-items: center;
    margin-left: 1.6rem;
    font-size: 1.6rem;
}
.input-group-text i {
    font-size: 1.6rem;
    color: var(--blue-300);
}
.search-bar {
    width: 80%;
    margin-top: 1.6rem;
}
.hero-title {
    margin-bottom: 1.6rem;
}
.icon-item { 
    padding: 1.2rem;
    margin-right: 1.6rem;
    background-color: var(--blue-200);
    border-radius: 1rem;
}