
<footer >
   <div class="container footer-top">
      <div class="row">
         <div class="col-lg-3 ">
            <div class="footer-logo">
               <img src="~/icon/Logo.png" alt="logo-footer">
            </div>
            <p>Call now : +84 867713501</p>
            <p>
               lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
         </div>
         <div class="col-lg-8 offset-lg-1">
            <div class="row">
               <div class="col-lg-3">
                  <h3>Quick Links</h3>
                  <ul>
                     <li>Home</li>
                     <li>About</li>
                     <li>Contact</li>
                     <li>Services</li>
                  </ul>
               </div>
               <div class="col-lg-3">
                  <h3>Candidate</h3>
                  <ul>
                     <li>Browse Jobs</li>
                     <li>Browse Employers</li>
                     <li>Candidate Dashboard</li>
                     <li>Saved Jobs</li>
                  </ul>
               </div>
               <div class="col-lg-3">
                  <h3>Employers</h3>
                  <ul>
                     <li>Post a Job</li>
                     <li>Browse Candidate</li>
                     <li>Employers Dashboard</li>
                     <li>Applications</li>
                  </ul>
               </div>
               <div class="col-lg-3">
                  <h3>Support</h3>
                  <ul>
                     <li>FAQ</li>
                     <li>Privacy Policy</li>
                     <li>Terms of Use</li>
                     <li>Contact Us</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      
   </div>
  
</footer>
<div class="container footer-bottom d-flex justify-content-between ">
   <span># 2025 WorkFinder - Job Portal. All rights Rserved</span>
   <span class="footer-social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
   </span>
</div>

<style>
   footer{
      background-color: var(--bs-gray-300);
   }
   .footer-top {
      padding: 4.8rem 0;
   }

   ul li {
      list-style: none;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: var(--bs-gray-600);
   }
   ul {
      padding: 0;
   }
   .footer-bottom {
      padding: 2.4rem 0;
      font-size: 1.4rem;
   }

   .footer-social a {
      color: var(--bs-gray-600);
   }
</style>