<link rel="stylesheet" href="~/css/step.css" />
<div class="step-section">
    <div class="container ">
        <h2 class="text-center mb-5">How jobpilot work</h2>
        <div class="stepper-container">
            <div class="step">
                <div class="icon mb-5"><i class="fas fa-user-plus"></i></div>
                <h4>Create account</h4>
                <p>Aliquam facilisis egestas sapien, nec tempor leo tristique at.</p>
            </div>
            <div class="step active">
                <div class="icon mb-5"><i class="fas fa-cloud-upload-alt"></i></div>
                <h4>Upload CV/Resume</h4>
                <p>Curabitur sit amet maximus ligula. Nam a nulla ante.</p>
            </div>
            <div class="step">
                <div class="icon mb-5"><i class="fas fa-search"></i></div>
                <h4>Find suitable job</h4>
                <p>Phasellus quis eleifend ex. Morbi nec fringilla nibh.</p>
            </div>
            <div class="step">
                <div class="icon mb-5"><i class="fas fa-check-circle"></i></div>
                <h4>Apply job</h4>
                <p>Curabitur sit amet maximus ligula. Nam a nulla ante.</p>
            </div>
        </div>
    </div>
</div>