@model IEnumerable<WorkFinder.Web.Models.Company>

<div class="container my-5">
    @await Html.PartialAsync("Partials/Common/_SectionHeader", new { Title = "Top Company" })
    <div class="row">
        @foreach (var company in Model)
        {
            <div class="col-md-3 mt-4">
                <div class="position-card">
                    @await Html.PartialAsync("Partials/Common/_CardItemHeader", company)
                    <a href="#" class="open-position-btn">Open Position</a>
                </div>
            </div>
        }
    </div>
</div>
<style>
    .position-card {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 15px;
        background-color: #fff;
        transition: box-shadow 0.3s;

    }

    .position-card:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .position-card:hover .open-position-btn {
        background-color: var(--blue-500);
        color: #fff;
    }

    .open-position-btn {
        display: block;
        margin-top: 15px;
        padding: 15px;
        background-color: #e6f0ff;
        color: #007bff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        font-size: 1.4rem;
    }

    .open-position-btn:hover {
        background-color: #d0e0ff;
    }
</style>