<div class="search-container">
    <div class="input-group rounded border p-2">
        <span class="input-group-text bg-white border-0">
            <img src="~/icon/fi_search.png" alt="search" />
        </span>
        <input type="text" class="form-control border-0" placeholder="Job title, keyword, company">
    </div>
</div>
