<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkFinder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WorkFinder.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {}

        .navbar {
            padding: 1rem;
            background-color: #fff !important;
        }

        .navbar-brand {
            font-weight: 600;
            color: #2152ff !important;
        }

        .nav-link {
            font-weight: 500;
        }

        .nav-link:hover {
            color: #2152ff !important;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px;
            background-color: #fff;
        }

        main {
            margin-bottom: 60px;

        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        }

        .card-header {
            background-color: #fff;
            border-bottom: 1px solid #eee;
        }

        .btn-primary {
            background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%);
            border: none;
        }

        .btn-primary:hover {
            background-image: linear-gradient(310deg, #1634b9 0%, #21d4fd 100%);
        }
    </style>
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <div>
        @await Html.PartialAsync("~/Views/Shared/Partials/Common/_Header.cshtml");
    </div>
    <hr class="m-0">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - WorkFinder - <a asp-area="" asp-controller="Home"
                asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>