<link rel="stylesheet" href="~/css/hero.css">
<section class="hero">
    <div class="container">
        <div class="row d-flex  align-items-center">
            <div class="col-lg-6 ">
                <h2 class="hero-title">
                    Find a job that suits <br/>
                    your interest & skills.
                </h2>
                <span class="hero-subtitle ">
                    Aliquam vitae turpis in diam convallis finibus in at risus. Nullam <br/> 
                    in scelerisque leo, eget sollicitudin velit bestibulum.
                </span>
                <div class="search-bar  ">
                    <div class="bg-white shadow-sm  d-flex align-items-center   ">
                        <!-- Ô tìm kiếm từ khóa -->
                        <div class="input-group-cs  ">
                            <span class="input-group-text bg-white border-0 ">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="text" class="form-control border-0 " placeholder="Job title, Keyword..." />
                        </div>

                        <!-- Phân cách -->
                        <span class="mx-3 text-muted">|</span>

                        <!-- Ô tìm kiếm địa điểm -->
                        <div class="input-group-cs ">
                            <span class="input-group-text bg-white border-0">
                                <i class="fa-solid fa-location-dot"></i>
                            </span>
                            <input type="text" class="form-control border-0 " placeholder="Your Location" />
                        </div>

                        <!-- Nút tìm kiếm -->
                        <button class="btn btn-primary my-2">Find Job</button>
                    </div>
                    <div class="text-muted mt-3 ">
                        Suggestion: Designer, Programing, Digital Marketing
                    </div>
                </div>

            </div>
            <div class="col-lg-5 offset-lg-1">
                <img src="~/img/Illustration.png" alt="hero" class="hero-img">
            </div>
          
        </div>
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center icon-item">
                                    <img src="~/icon/briefcase-duotone 1.png" alt="icon">
                                </div>
                                <div class="media-body text-right">
                                    <h3>1,75,324</h3>
                                    <span>Live Jobs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center icon-item">
                                    <img src="~/icon/briefcase-duotone 1.png" alt="icon">
                                </div>
                                <div class="media-body text-right">
                                    <h3>1,75,324</h3>
                                    <span>Live Jobs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center icon-item">
                                    <img src="~/icon/buildings-duotone 1.png" alt="icon">
                                </div>
                                <div class="media-body text-right">
                                    <h3>1,75,324</h3>
                                    <span>Candidates</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center icon-item">
                                    <img src="~/icon/users-duotone 1.png" alt="icon">
                                </div>
                                <div class="media-body text-right">
                                    <h3>1,75,324</h3>
                                    <span>New Jobs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</section>